$font-stack: "Josefin Sans", sans-serif;
$Light-Cyan: hsl(193, 38%, 86%);
$Neon-Green: hsl(150, 100%, 66%);
$Grayish-Blue: hsl(217, 19%, 38%);
$Dark-Grayish-Blue: hsl(217, 19%, 24%);
$Dark-Blue: hsl(218, 23%, 16%);
$font-weight: 800;
$line-height: 1.6;
$font-size: 28px;
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: $Dark-Blue;
}
.wrapper {
  width: 90vw;
  background-color: $Dark-Grayish-Blue;
  font-family: $font-stack;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 7em;
  line-height: $line-height;
}
.header {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: $Neon-Green;
  letter-spacing: 2px;
  font-size: x-small;
  padding: 2em 0;
  padding-top: 4em;
}
.img-parent {
  background-image: url(./images/pattern-divider-mobile.svg);
  margin: 1em auto;
  margin-bottom: 0;
  height: 1em;
  width: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
}
.dice {
  display: block;
  width: 1em;
}
.dice-container {
  position: absolute;
  bottom: -1.25em;
  right: calc(45vw - 1.25em);
  width: 2.5em;
  height: 2.5em;
  background-color: $Neon-Green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.parent {
  position: relative;
  height: 2.5em;
  width: 100%;
}
.quote {
  width: 90%;
  color: $Light-Cyan;
  // font-weight: $font-weight;
  font-family: $font-stack;
  line-height: 1.4;
  font-size: $font-size;
  margin: 0 auto;
  text-align: center;
}
.gif-parent {
  background-image: url(./images/Infinity.gif);
  background-color: $Dark-Blue;
  background-blend-mode: multiply;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 481px) and (max-width: 1440px) {
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }
  .wrapper {
    margin-top: 0;
    width: 40vw;
  }
  .header {
    font-size: small;
    padding-bottom: 1em;
  }
  .img-parent {
    background-image: url(./images/pattern-divider-desktop.svg);
    margin-bottom: 0.5em;
  }
  .dice {
    width: 1.2em;
  }
  .dice-container {
    width: 3em;
    height: 3em;
    position: absolute;
    bottom: -1.5em;
    right: calc(20vw - 1.5em);
  }
  .quote {
    line-height: $line-height;
  }
  .dice-container:hover {
    box-shadow: 0px 0px 15px 5px rgba($Neon-Green, 0.75);
  }
}
